@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

input,
select {
  @apply text-inherit bg-inherit;
}

button {
  @apply text-white dark:text-black
    bg-black dark:bg-white
    px-4 py-2
    hover:outline-black dark:hover:outline-white
    hover:outline-2
    disabled:opacity-50;
}
